*{
    margin: 0;
}
body{

background-color: rgb(240,240,240);
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
height: 100%;
}

.unc{
  max-width: 1200px;
  height: auto;
}

.daddy{
   
    display: grid;
    grid-template-columns: repeat(12,1fr); 
    grid-template-rows: 100px 600px 300px auto;
    grid-template-areas:"menu menu menu menu2 menu2 menu2 menu2 menu2 menu2 menu2 menu2 menu2"
                        "bigimg bigimg bigimg bigimg bigimg bigimg bigimg bigimg bigimg bigimg bigimg bigimg"
                        "october october october october october october october october october partners partners partners"
                        "merch merch merch buddies buddies buddies finedining finedining finedining partners partners partners"
                         ;
height: auto;
}
div{
    margin: 10px;
    
}

.menu{
grid-area: menu;
display: flex;
justify-content: flex-start;
}
.menu2{
grid-area: menu2;
display: flex;
justify-content: flex-end;
}
.bigimg{
    background-color: white;
    background-image: url("/img/happiest-dog.webp");
   /* background-color: aquamarine; */
    grid-area: bigimg;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    /* justify-content: start; */
    border-radius: 10px;
    padding: 20px;
}
.october{
    grid-area: october;
    display: flex;
    flex-direction: row;
    background-color: white;
    border-radius: 10px;
}
.partners{
    grid-area: partners;
    background-color: white;
    border-radius: 10px;
    display: grid;
    justify-items: center;
    grid-auto-rows: 82px;
    grid-template-rows: 60px;
}
.merch{
    grid-area: merch;
    background-color: white;
    border-radius: 10px;
}
.buddies{
    grid-area: buddies;
    background-color: white;
    border-radius: 10px;
}
.finedining{
    grid-area: finedining;
    background-color: white;
    border-radius: 10px;
}
img{
    border-radius: 10px;
    margin: 15px;
    max-width: 100%;
    max-height: 100%;
}
h2{
    color:rgb(0, 0, 0);
    margin: 20px;
}
h1{
    align-content: center;
}

.imgtxt{
    color: white;
}
p{
    color: black;
    margin-left: 40px;
    margin-right: 40px;
    align-content: center;
}
.menutxt{
    color: black;
}

#grooming{
    max-width: 50%;
}

.partnerimg{
    margin: 0;
    max-width: 100%;
    max-height: 100%;
}
